
<div class="container" ng-controller="browse">
     
<p>Search classes</p>   <input ng-model="query">

<select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="professor">By professor</option>
  </select>
  <br><br><br>

      <div class="row list-animate" ng-repeat="class in classes | orderByPriority | filter: query | orderBy: orderProp">
                <div class="col-md-10">
        

    <div class="well well-lg">
    <div class="row">
          <div class="col-xs-12 col-md-8"></div>
          <div class="col-xs-6 col-md-4"><h6><p class="text-right"><em>Professor: {{class.professor}}</em></p></h6></div>
    </div>
    <div class="row">
    <div class="col-md-8"><h4>{{class.name}}</h4></div>
      <div class="col-md-4"><button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="go(currentUni,currentFaculty,class.name)">View notes</button></div>

  </div>
    </div>

  


                </div>
                <div class="col-md-2">
                </div>
    </div>


