
<div class="container" ng-controller="browse">
     
<p>Search faculties</p>   <input ng-model="query">

<select ng-model="orderProp">
    <option value="name">Alphabetical</option>
  </select>
  <br><br><br>

      <div class="row list-animate" ng-repeat="faculty in faculties | orderByPriority | filter: query | orderBy: orderProp">
      	        <div class="col-md-10">
				

		<div class="well well-lg">
    <div class="row">
    <div class="col-md-8"><h4>{{faculty.name}}</h4></div>
      <div class="col-md-4"><button type="submit" class="btn btn-info btn-lg btn-block" ng-click="go(currentUni,faculty.name)">View classes</button></div>

  </div>
    </div>

	


      	        </div>
      	        <div class="col-md-2">
      	        </div>
		</div>


