
<div class="container" ng-controller="browse">
     
<p>Search notes</p>   <input ng-model="query">

<select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="dateUploaded">Newest</option>
    <option value="dateModified">Last modified</option>
    <option value="class">Class</option>
    <option value="handwritten">Handwritten</option>
    <option value="rating">Rating</option>

  </select>

      <div class="row list-animate" ng-repeat="note in notes | filter: query | orderBy: orderProp">
      	        <div class="col-md-10">
				

					<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{note.name}}</h3>
  </div>
  <div class="panel-body">
  <div class="row">
  		<div class="col-md-10">
  			<small>{{note.dateUploaded}}</small>
  		</div>
  		<div class="col-md-2" >
			<small> User ID: {{note.id}} 

		 </small>	
  		</div>
   </div>
	<br>
	<div class="page-header">
	<h4>Class: {{note.class}}</h4>
	<h4>Decription: {{note.description}}</h4>
	</div>
	<br><br>
 

	<form action={{note.fileURL}}><button type="submit" class="btn btn-info btn-lg btn-block">View</button></form>
	




  </div>
</div>


      	        </div>
      	        <div class="col-md-2">
      	        </div>
		</div>



<!-- shim is needed to support upload progress/abort for HTML5 and non-HTML5 FormData browsers.-->
<!-- use html5-shim.js instead if you just support HTML5 browsers and you need progress event-->
<!-- Note: shim.js MUST BE PLACED BEFORE angular.js and angular-file-upload.js AFTER angular.js-->

<div ng-controller="uploadController">
  <input type="text" ng-model="myModelObj">
  <input type="file" ng-file-select="onFileSelect($files)" >
  <input type="file" ng-file-select="onFileSelect($files)" multiple>
  <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
        ng-show="dropSupported">drop files here</div>
  <div ng-file-drop-available="dropSupported=true" 
        ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
  <button ng-click="upload.abort()">Cancel Upload</button>
</div>
      	
 </div> 
