<p>Search notes</p>   <input ng-model="query">

<select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="year">Year</option>
    <option value="description">Description</option>
  </select>

      <div class="row list-animate" ng-repeat="note in notes | orderByPriority |  filter: query | orderBy: orderProp">
      	        <div class="col-md-10">
				

					<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{note.name}}</h3>
  </div>
  <div class="panel-body">
  <div class="row">
  		<div class="col-md-10">
  			<small>{{note.dateUploaded}}</small>
  		</div>
  		<div class="col-md-2" >
			<small> Year: {{note.year}} 

		 </small>	
  		</div>
   </div>
	<br>
	<div class="page-header">
	<h4>Class: {{currentClass}}</h4>
	<h4>Decription: {{note.description}}</h4>
	</div>
	<br><br>
 

	<form action={{note.noteURL}}><button type="submit" class="btn btn-info btn-lg btn-block">View</button></form>
	




  </div>
</div>


      	        </div>
      	        <div class="col-md-2">
      	        </div>
		</div>
