
    <div class="container" ng-controller="user">
      <div class="page-header">
        <h1>Hello, {{users[0].username}}</h1>
        <p class="bg-info">Here you can see your profile information.</p>
      </div>

	  <p><strong>Auth:</strong> {{auth}}</p>
	  <p><strong>UserL:</strong> {{userL}}</p>
	  <p><strong>UserB:</strong> {{userB}}</p>
      
      <br><br>
      <div class="row">
      	        <div class="col-xs-6">
					<b>Name:</b>{{users[0].name}}
      	        </div>
      	        <div class="col-xs-6">
					<button type="button" class="btn btn-info btn-xs">Edit</button></p>
      	        </div>
		</div>
      	 <div class="row">
      	        <div class="col-xs-6">
				<b>Last Name:</b> {{users[0].lastName}}       	        
				</div>
      	        <div class="col-xs-6">
					<button type="button" class="btn btn-info btn-xs">Edit</button></p>
      	        </div>
      	</div>

      	   <div class="row">
      	        <div class="col-xs-6">
					<b>E-mail:</b> {{users[0].e-mail}}
      	        </div>
      	        <div class="col-xs-6">
					<button type="button" class="btn btn-info btn-xs">Edit</button></p>
      	        </div>
		</div>
      	 <div class="row">
      	        <div class="col-xs-6">
				<b>Birthday:</b> {{users[0].birthday}}        	        
				</div>
      	        <div class="col-xs-6">
					<button type="button" class="btn btn-info btn-xs">Edit</button></p>
      	        </div>
      	</div>
      		 <div class="row">
      	        <div class="col-xs-6">
				<b>School:</b> {{users[0].school}}       	        
				</div>
      	        <div class="col-xs-6">
					<button type="button" class="btn btn-info btn-xs">Edit</button></p>
      	        </div>
      	</div>
        
  

    </div> 